  body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  #category-toggle{
    display: inline;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  .gallery-heading{
    padding: 0.875rem 1.25rem;
    font-weight: bold;
    color: #495057;
    text-align: center;
    font-size: 1.2rem;
  }

  #menu-toggle{
    display: block;
  }

  .gallery-heading{
    width: 90%;
  }

  .category-list-items{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 5px 5px #E2E2EE;
    height: 200px;
  }

  .image-description{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 5px 5px #E2E2EE;
    max-height: 400px;
  }

  .image-details{
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width: 92%;
    margin-left: 4%;
  }

  .image-details h1{
    font-size: 25px;
  }

  .image-details p{
    text-align: justify;
    padding: 0 20px 0 10px;
    height: 300px;
    overflow-y: scroll;
    height: 336px;
  }

  .list-group-item.active {
    color: #fff;
    background-color: #8996a5 !important;
    border-color: #8e969f;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }

    #menu-toggle{
      display: none;
    }

    .image-details{
        width: 100%;
        margin-left: 0;
    }
  }