<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom p-0">
        <button class="btn btn-sm bg-light p-0" id="menu-toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-md-12 text-center gallery-heading">
            {{ category ~ ' Photo Gallery' }}
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="image-list">
            <input id="image-list-prototype" type="hidden" value='<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-3 p-0"><a href="_image_details_path"><div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><img src="_image_path" class="category-list-items"></div></a></div>'>
        </div>
    </div>
</div>