<div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 mt-3 p-0">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <img src="_image_path" class="image-description">
    </div>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3 p-0 image-details">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <h1>Image Details</h1>
            <hr class="m-0">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <p class="m-0">
                _image_description
            </p>
        </div>
    </div>
</div>
<div class="col-sm-1 mt-3 mb-3">
    <a href="{{ path('home_category',{'category': category}) }}" class="btn btn-sm btn-secondary w-100 text-center text-white" data-toggle="tooltip" data-placement="top" title="Back">
        <span><</span>
    </a>
</div>