<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading bg-success">Image Gallery</div>
    <div class="list-group list-group-flush text-center" id="sidebar-contents">
        <input id="sidebar-prototype" type="hidden" value='<a href="_category_path" class="list-group-item list-group-item-action bg-light _active_class">_category_item</a>'>
    </div>
</div>
<!-- /#sidebar-wrapper -->